/* #region common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --dc-black: #000000;
    --dc-blue: #0061FF;
    --dc-light: #B4D0E7;
} 

img {
    max-width: 100%;
}

/* #endregion common rules */

/* #region utilities */
.container_big {
    width: 64%;
    margin: auto;
}

.container_small {
    width: 52%;
    margin: auto;
}

.row {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.col_5 {
    width: calc(100% / 12 * 5);
}
.col_4 {
    width: calc(100% / 12 * 4);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.button_blue {
    color: white;
    background-color: var(--dc-blue);
    border: none;
    padding: 0 10px;
}

/* #endregion */

/*#region debug */
.debug header {
    height: 50px;
    width: 100%;
    background-color: red;
}

.debug .home,
.debug .start {
    background-color: purple;
    height: 30px;
    width: 30%;
}

.debug .container_big {
    background-color: green;
    padding: 30px;
}

.debug .title {
    background-color: yellow;
    width: 100%;
    height: 100px;
}

.debug .col_5 {
    background-color: red;
    height: 300px;
}
.debug .col_7 {
    background-color: blue;
    height: 300px;
}
.debug .col_2 {
    background-color: black;
    height: 100px;
    border: 1px solid white;
}

.debug .container_small {
    background-color: greenyellow;
    padding: 30px;
}

.debug .business_plan {
    background-color: lightblue;
    width: 100%;
    height: 100px;
}
.debug .col_4 {
    height: 300px;
    background-color: red;
    border: 1px solid;
}
 .debug .enterprise {
    width: 100%;
    height: 200px;
    background-color: goldenrod;
 }

 .debug .title_operations {
    height: 50px;
    width: 100%;
    background-color: black;
 }

 .debug .partners {
    background-color: blue;
    width: 100%;
    height: 100px;
 }
 /* #endregion */

/*#region header */
header {
    padding: 20px 10px;
}

header img {
    margin-right: 20px;
}

header a {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    margin: 0 20px;
}

/* #endregion */

/* #region main */
.bg_color_title {
    background-color: var(--dc-light);
    padding-top: 2rem;
}

h1 {
    font-weight: 800;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

.bg_color_title p,
.payment {
    font-size: 0.75rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 500;
    position: relative;
}

.button_try {
    padding: 10px;
    font-weight: 500;
}

.arrow {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
}

.bg_color_title img {
    padding-top: 1rem;
    position: absolute;
    width: 36rem;
}

h3 {
    margin-top: 6rem;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.payment {
    font-size: 0.7rem;
    padding-right: 1rem;
    vertical-align: middle;
}












