/* #region common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --dc-black: #000000;
    --dc-blue: #0061FF;
    --dc-light: #B4D0E7;
    --dc-gray: #D0D0D3;
    --dc-secondary: #61082B;
    --dc-p-florida: #0093CE;
    --dc-p-lonely: #0D2481;
    --dc-p-asu: #61082B;
    --dc-p-design: #A2D39B;
    --dc-p-hearts: #B4D0E7;
    --dc-p-border: #D1E9CD;
    --dc-p-world: #D5001F;
    --dc-p-topps: #FF1C1C;
    --dc-p-clear: #FFD830;

} 

img {
    max-width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

h3 {
    margin-top: 6rem;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

button {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
  }
/* #endregion common rules */

/* #region utilities */
.container_big {
    width: 64%;
    margin: auto;
}

.container_small {
    width: 52%;
    margin: auto;
}


.bg_color_title p,
.payment,
.type_plan,
.details_plan {
    font-weight: 500;
    font-size: 0.75rem;
}

.row {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.col_5 {
    width: calc(100% / 12 * 5);
}
.col_4 {
    width: calc(100% / 12 * 4);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_3_8 {
    width: calc(100% / 12 * 3.8);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.button_blue {
    color: white;
    background-color: var(--dc-blue);
    border: none;
}

.button_big {
    padding: 10px;
    font-weight: 500;
}

/* #endregion */

/*#region debug */
.debug header {
    height: 50px;
    width: 100%;
    background-color: red;
}

.debug .home,
.debug .start {
    background-color: purple;
    height: 30px;
    width: 30%;
}

.debug .container_big {
    background-color: green;
    padding: 30px;
}

.debug .title {
    background-color: yellow;
    width: 100%;
    height: 100px;
}

.debug .col_5 {
    background-color: red;
    height: 300px;
}
.debug .col_7 {
    background-color: blue;
    height: 300px;
}
.debug .col_2 {
    background-color: black;
    height: 100px;
    border: 1px solid white;
}

.debug .container_small {
    background-color: greenyellow;
    padding: 30px;
}

.debug .business_plan {
    background-color: lightblue;
    width: 100%;
    height: 100px;
}
.debug .col_4 {
    height: 300px;
    background-color: red;
    border: 1px solid;
}
 .debug .enterprise {
    width: 100%;
    height: 200px;
    background-color: goldenrod;
 }

 .debug .title_operations {
    height: 50px;
    width: 100%;
    background-color: black;
 }

 .debug .partners {
    background-color: blue;
    width: 100%;
    height: 100px;
 }
 /* #endregion */

/*#region header */
header {
    padding: 20px 10px;
    position: sticky;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    
}

header img {
    margin-right: 20px;
    cursor: pointer;
}

header a {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    margin: 0 20px;
}

header .button_blue {
    padding: 5px 10px;
}

.start {
    align-items: center;
}

/* #endregion */

/* #region main */
.bg_color_title {
    background-color: var(--dc-light);
    padding-top: 2rem;
}


.bg_color_title p,
.payment {
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
}

.arrow {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    
}

.arrow i {
    cursor: pointer;
}

.bg_color_title img {
    padding-top: 1rem;
    position: absolute;
    width: 36rem;
}

.payment {
    vertical-align: middle;
    padding-right: 1rem;
}

.business_plan > .row {
    margin-top: 2rem;
}

.business_plan .col_3_8,
.business_plan .col_12 {
    border: 1px solid var(--dc-gray);
}

.type_plan {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--dc-gray);
}

.text_plan {
    padding: 1rem;
}

.price {
    font-size: 0.65rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.price_time {
    color: rgb(94, 94, 94);
    font-size: 0.65rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.details_plan {
    padding-bottom: 1rem;
}



.text_plan button {
    margin: 1rem auto;
    width: 100%;
}

.business_plan hr {
    width: 20%;
    margin-top: 1rem;
}

.highlights {
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
}

.description {
    margin-left: 0.5rem;
}

.check {
    color: var(--dc-blue);
}

.business_plan .col_12 {
    margin-top: 2rem;
}

.col_12 > .text_plan {
    align-items: baseline;
}

.col_12 .details_plan {
    margin-top: 2rem;
    padding-right: 3rem;
}

.call_to_action {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.call_to_action .col_5 {
    padding: 2rem;
}

.call_to_action button {
    border: 1px solid black;
    padding: 0.5rem;
}

.operations .details_plan {
    padding: 1rem 1rem 1rem 0;
    margin-bottom: 2rem;
}

.partners {
    margin-bottom: 5rem;
}

.logo_partner {
    width: 50%;
    height: 200px;
}

.logo_partner svg {
    padding: 3rem;
}

.florida svg {
    padding: 35% 5%;
}

.designit {
    background-color: var(--dc-p-design);
    border: 10px solid var(--dc-p-border);
}

.asu {
    background-color: var(--dc-p-asu);
}

.florida {
    background-color: var(--dc-p-florida);
}

.topps {
    background-color: var(--dc-p-topps);
}

.world {
    background-color: var(--dc-p-world);
}

.hearst {
    background-color: var(--dc-p-hearts);
}

.lonely {
    background-color: var(--dc-p-lonely);
}

.clear {
    background-color: var(--dc-p-clear);
}

.comment {
    padding: 2rem;
    background-color: rgb(235, 228, 228);
}

.comment svg {
    margin: -35% 0 -30% 0;
}

.comment hr {
    width: 20%;
    margin-bottom: 2rem;
}

.call_to_action_bottom {
    background-color: var(--dc-light);
}

.call_to_action_bottom .row {
    align-items: baseline;
    padding-bottom: 2rem;
}

.call_to_action_bottom h3 {
    color: var(--dc-secondary);
}

.call_to_action_bottom button {
    border: none;
    padding: 0.5rem 1.5rem;
}

.call_to_action_bottom .col_5 {
    text-align: right;
}

.faq {
    margin-bottom: 5rem;
}

.faq hr {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.faq .col_3 {
    text-align: right;
    font-size: 0.7rem;
    padding-right: 2rem;
}

.faq i {
    cursor: pointer;
}

/* #endregion */

/* footer */
footer {
    background-color: #000000;
    padding: 3rem 0 2rem 0;
    color: white;
}

footer h6 {
    padding-bottom: 1rem;
    font-weight: 700;
}

.text_footer {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.text_footer:hover {
    text-decoration: underline;
}

footer hr {
    width: 10%;
    height: 1px;
    margin: 5rem 0 2rem 0;
    border: none;
    color: white;
    background-color: white;
}

.language i {
    font-size: 0.7rem;
}

footer span {
    font-size: 0.7rem;
    margin: 0 5px;
}

.fa-earth-americas {
    align-self: baseline;
}

.fa-sort-up {
    align-self: flex-end;
    cursor: pointer;
}










